#board{
  display: inline-block;
  position: relative;
  border: 1px solid black;
  width: 900px;
  height: 550px;
}

.point{
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 5px;
  background-color: black;
}
